<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./ui/admin/stylesGrades.css">
    <link rel="stylesheet" href="./ui/admin/stylesModules.css">
    
    <title>Grades</title>
</head>
<body>

    <%-include("../partials/sidebar")%>

    <div class="grid-box">
        <div class="container">

            <div class="field">
                <label class="label">Search For a Module</label>
                <div class="control">
                  <div class="dropdown" id="moduleDropdown">
                    <div class="dropdown-trigger">
                      <input class="input" type="text" placeholder="Type module name..." id="moduleSearch">
                    </div>
                    <div class="dropdown-menu" id="moduleList" role="menu">
                      <div class="dropdown-content">
                        <% modules.forEach(module => { %>
                          <a href="#" class="dropdown-item module-option" data-id="<%= module.module_id %>">
                            <%= module.module_title %>
                          </a>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <table class="table is-striped is-fullwidth mt-5">
                <thead>
                  <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>First Grade</th>
                  </tr>
                </thead>
                <tbody id="gradesTableBody"></tbody>
            </table>

            <button id="submitGrades" class="button is-primary is-hidden mt-3">Save Grades</button>
            

        </div>
    </div>

    <script src="/grades.js"></script>
    
    
</body>
</html>