<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./ui/admin/stylesLanding.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>

    <%- include ("../partials/sidebar") %>
    <div class="fixed-grid has-3-cols">
        <div class="grid">
          <div class="cell">
            <div class="card">
                <a class="card-content" href="/modules">
                    <img src="/imgs/cube.png" alt="Description of image">
                    <div class="card-text" onclick="">
                        <h2 class="cell-title">Modules</h2>
                        <p>View and Edit Modules</p>
                    </div>
                </a>
            </div>
          </div>
          <div class="cell">
            <div class="card">
                <div class="card-content">
                    <a class="card-content" href="/grades">
                        <img src="/imgs/score.png" alt="Description of image">
                        <div class="card-text">
                            <h2 class="cell-title">Grades</h2>
                            <p>View and Edit Grades</p>
                        </div>
                    </a>
                </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
                <div class="card-content">
                    <a class="card-content" href="/search">
                        <img src="/imgs/search.png" alt="Description of image">
                        <div class="card-text">
                            <h2 class="cell-title">Search</h2>
                            <p>Search for Students</p>
                        </div>
                    </a>
                </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
                <div class="card-content">
                    <a class="card-content" href="/statistics">
                        <img src="/imgs/pie-chart.png" alt="Description of image">
                    <div class="card-text">
                        <h2 class="cell-title">Statistics</h2>
                        <p>Show Student Statistics</p>
                    </div>
                    </a>
                    
                </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
                <div class="card-content">
                    <a class="card-content" href="/progression">
                        <img src="/imgs/progress.png" alt="Description of image">
                        <div class="card-text">
                            <h2 class="cell-title">Progression</h2>
                            <p>View or Update Progression Rules</p>
                        </div>
                    </a>
                </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
                <div class="card-content">
                    <a class="card-content" href="/messaging">
                        <img src="/imgs/chat.png" alt="Description of image">
                        <div class="card-text">
                            <h2 class="cell-title">Messages</h2>
                            <p>View or Send a Message</p>
                    </div>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>

