<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./ui/admin/stylesModules.css">
    <link rel="stylesheet" href="./ui/admin/stylesMessaging.css">
    <title>Progression</title>
</head>
<body>
    <%- include ("../partials/sidebar") %>

    <div class="grid-box">


        <div class="card">
            <div class="card-content">
                <a class="card-content" href="/studentProgression">
                    <img src="/imgs/prescription.png" class="card-Image">
                    <div class="card-text">
                        <h2 class="cell-title">
                            Edit Progression Rules
                        </h2>
                    </div>

                </a>

            </div>

        </div>

        <div class="card">
            <div class="card-content">
                <a class="card-content" href="/rules">
                    <img src="/imgs/reading.png" class="card-Image">
                    <div class="card-text">
                        <h2 class="cell-title">
                            Student Progression
                        </h2>
                    </div>

                </a>
            </div>

        </div>
    </div>
    
</body>
</html>