<aside class="sidebar">
    <div class="sidebar-header">
        <img src="/imgs/graduate.png" alt="logo" class="logo">
        <h2>UniGrade</h2>
    </div>
    <ul class="sidebar-links">
        <h4>
            <span class="title">Main Menu</span>
            <div class="menu-separator"></div>
        </h4>
        <a href="/student/studentLanding">
           <li>
                <img src="/imgs/dashboard.png"><span class="text">Dashboard</span>
            </li> 
        </a>

        <a href="/student/progression">
            <li>
                <img src="/imgs/progress.png"><span class="text">Progression</span>
            </li>
        </a>

        <a href="/student/messaging">
            <li>
                <img src="/imgs/chat.png"><span class="text">Messages</span>
            </li>
        </a>

        <a href="/student/account">
            <li>
            <img src="/imgs/account.png"><span class="text">Profile</span>
            </li>
        </a>
        
        
        
       
        
        
        
         
        
    </ul>
    <div class="user-account">
        <div class="user-profile">
            <img src="<%=user.profile_image || '/imgs/account.png' %>" alt="profile-picture">
            <div class="user-detail">
                <h3><%=user.first_name %> <%= user.last_name %></h3>
            </div>
        </div>
    </div>
</aside>