<aside class="sidebar">
    <div class="sidebar-header">
        <img src="/imgs/graduate.png" alt="logo" class="logo">
        <h2>UniGrade</h2>
    </div>
    <ul class="sidebar-links">
        <h4>
            <span class="title">Main Menu</span>
            <div class="menu-separator"></div>
        </h4>
        <li>
            <img src="/imgs/dashboard.png"><span class="text">Dashboard</span>
        </li>
        <li>
            <img src="/imgs/cube.png"><span class="text">Modules</span>
        </li>
        <li>
            <img src="/imgs/score.png"><span class="text">Grades</span>
        </li>
        <li>
            <img src="/imgs/search.png"><span class="text">Search</span>
        </li>
        <li>
            <img src="/imgs/pie-chart.png"><span class="text">Statistics</span>
        </li>
        <li>
            <img src="/imgs/progress.png"><span class="text">Progression</span>
        </li>
        <li>
            <img src="/imgs/chat.png"><span class="text">Messages</span>
        </li>
        <h4>
            <span class="title">General</span>
            <div class="menu-separator"></div>
        </h4>
        <li>
            <img src="/imgs/notification.png"><span class="text">Notifications</span>
        </li>
        <li>
            <img src="/imgs/account.png"><span class="text">Account</span>
        </li>
        <li>
            <img src="/imgs/settings.png"><span class="text">Settings</span>
        </li>
         
        
    </ul>
    <div class="user-account">
        <div class="user-profile">
            <img src>
            <div class="user-detail">
                <h3>Peter Murray</h3>
                <span>Web developer</span>
            </div>
        </div>
    </div>
</aside>