<aside class="sidebar">
    <div class="sidebar-header">
        <img src="/imgs/graduate.png" alt="logo" class="logo">
        <h2>UniGrade</h2>
    </div>
    <ul class="sidebar-links">
        <h4>
            <span class="title">Main Menu</span>
            <div class="menu-separator"></div>
        </h4>
        <a href="/admin/landing">
           <li>
                <img src="/imgs/dashboard.png"><span class="text">Dashboard</span>
            </li> 
        </a>

        <a href="/admin/modules">
            <li>
                <img src="/imgs/cube.png"><span class="text">Modules</span>
            </li>
        </a>

        <a href="/admin/grades">
           <li>
                <img src="/imgs/score.png"><span class="text">Grades</span>
            </li> 
        </a>

        <a href="/admin/search">
           <li>
             <img src="/imgs/search.png"><span class="text">Search</span>
            </li> 
        </a>

        <a href="/admin/statistics">
           <li>
                <img src="/imgs/pie-chart.png"><span class="text">Statistics</span>
            </li> 
        </a>

        <a href="/admin/progression">
           <li>
                <img src="/imgs/progress.png"><span class="text">Progression</span>
            </li> 
        </a>
        
        <a href="/admin/messaging">

            <li>
                <img src="/imgs/chat.png"><span class="text">Messages</span>
            </li>
        </a>


        <li class="text">
            <form action="/logout" method="POST" class="logout-form">
                <button type="submit" class="button is-small">Logout</button>
            </form>
        </li>
        


        
        
        
        
        
        
        
         
        
    </ul>
   
</aside>