.title-box {
    
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    
}

.grid-box .container .module-box {
    flex-direction: column;
    justify-content: flex-start;
}

.searchBox {
    width: 100%;
}

.searchBox input {
    width: 100%;
    box-sizing: border-box;
}