@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

@media (max-width: 768px){
    .grid, .fixed-grid {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto;
    }
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("./background.jpg");
}

.nav {
    width: 100vw;
    height: 10vh;
    background-color: #33cbaf;
}

.fixed-grid {
    display: grid;
    width: 100vw;
    height: auto;
    padding: 1%;
    
}

.grid {
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    place-items: center;
    
    
}

.cell {
    
    display: flex;
    margin: 5%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 40vh;
    background-color: #f0f0f0;
    border-radius: 16px;
    overflow: hidden; 
    transition: 0.3s; 
    opacity: 0.7;
}

.cell:hover {
    opacity: 1.5;
}



.cell-title {
    font-size: large;
    color: black;
}



.card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
    transition: transform 0.5s ease;
    background-color: #33cbaf;
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.card img {
    width: 50%;
    height: auto;
    transition: transform 0.5s ease;

}

.card-text {
    position: absolute;
    bottom: 0;
    color: black;
    width: 100%;
    height: 28%;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.card:hover .card-content {
    transform: scale(0.9);
}

.card:hover .card-text {
    transform: translateY(0);
}

h2 {
    margin-top: 10%;
    font-weight: 700;
}

p {
    font-weight: 350;
}
