<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./ui/stylesIndex.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    
</head>
<body>
    <div class="inner-body">
        <div class="left-panel">

        </div>

        <div class="right-panel">
            
            <h1 class="welcome">Welcome Back</h1>

            <div class="login-form">
                <form action="/login" method="POST">
                  <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input class="input" type="email" name="email" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="password" name="password" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <button class="button is-success" type="submit">
                        Go
                      </button>
                    </p>
                  </div>
                </form>
            </div>


        </div>
    </div>
    
    
</body>
</html>