<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./ui/stylesLanding.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>

    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="/imgs/graduate.png" alt="logo" class="logo">
            <h2>UniGrade</h2>
        </div>
        <ul class="sidebar-links">
            <h4>
                <span>Main Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <img src="/imgs/dashboard.png"><span class="text">Dashboard</span>
            </li>
            <li>
                <img src="/imgs/cube.png"><span class="text">Modules</span>
            </li>
            <li>
                <img src="/imgs/score.png"><span class="text">Grades</span>
            </li>
            <li>
                <img src="/imgs/search.png"><span class="text">Search</span>
            </li>
            <li>
                <img src="/imgs/pie-chart.png"><span class="text">Statistics</span>
            </li>
            <li>
                <img src="/imgs/progress.png"><span class="text">Progression</span>
            </li>
            <li>
                <img src="/imgs/chat.png"><span class="text">Messages</span>
            </li>
            <h4>
                <span>General</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <img src="/imgs/notification.png"><span class="text">Notifications</span>
            </li>
            <li>
                <img src="/imgs/account.png"><span class="text">Account</span>
            </li>
            <li>
                <img src="/imgs/settings.png"><span class="text">Settings</span>
            </li>
             
            <div class="menu-separator"></div>
        </ul>
        <div class="user-account">
            <div class="user-profile">
                <img src>
                <div class="user-detail">
                    <h3>Peter Murray</h3>
                    <span>Web developer</span>
                </div>
            </div>
        </div>
    </aside>



    <div class="fixed-grid has-3-cols">
        <div class="grid">
          <div class="cell">
            <div class="card">
                <div class="card-content">
                    <img src="/imgs/cube.png" alt="Description of image">
                    <div class="card-text">
                        <h2 class="cell-title">Modules</h2>
                        <p>View and Edit Modules</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
                <div class="card-content">
                    <img src="/imgs/score.png" alt="Description of image">
                    <div class="card-text">
                        <h2 class="cell-title">Grades</h2>
                        <p>View and Edit Grades</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
                <div class="card-content">
                    <img src="/imgs/search.png" alt="Description of image">
                    <div class="card-text">
                        <h2 class="cell-title">Search</h2>
                        <p>Search for Students</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
                <div class="card-content">
                    <img src="/imgs/pie-chart.png" alt="Description of image">
                    <div class="card-text">
                        <h2 class="cell-title">Statistics</h2>
                        <p>Show Student Statistics</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
                <div class="card-content">
                    <img src="/imgs/progress.png" alt="Description of image">
                    <div class="card-text">
                        <h2 class="cell-title">Progression</h2>
                        <p>View or Update Progression Rules</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
                <div class="card-content">
                    <img src="/imgs/chat.png" alt="Description of image">
                    <div class="card-text">
                        <h2 class="cell-title">Messages</h2>
                        <p>View or Send a Message</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>

