
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";



body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/imgs//background.jpg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
  
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 6vw;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: #33cbaf;
    padding: 25px 20px;
    transition: all 0.3s ease;
  }

.sidebar img {
    width: 4vw;
    height: 4vh;
    transition: all 0.3s ease-in-out; 
  }

.sidebar li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;
    margin: 3%;
    margin-bottom: 12%
  }

.sidebar:hover img {
    width: 30%;
  } 

.sidebar:hover li {
    margin-bottom: 3%;
  }
  
.sidebar:hover {
    width: 330px;
  }

.sidebar:hover img {
    width: 50px;
    height: auto;
  }

.sidebar:hover ~ .grid-box {
  
    width: calc(100vw - 300px);
    margin-left: 330px;
    
  }
  
.sidebar .sidebar-header, 
.sidebar-links .user-account{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1ßrem;
    
  }
  
.sidebar .sidebar-header img {
    width: 4vw;
    height: 6vh;
    transition: width 0.3s ease-in-out;
  }
  
.sidebar .sidebar-header h2 {
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 23px;
    opacity: 0;
    align-items: center;
    justify-content: center;
    
  }

.sidebar:hover .sidebar-header h2 {
    opacity: 1;
  }
  
.sidebar-links h4 {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    margin: 10px 0;
    position: relative;
}

.title-box {
  margin-bottom: 2rem;
}

.title {
    font-size: large;
    color: black;
  }

.sidebar .text {
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
  }

.sidebar:hover .text {
    opacity: 1;
    width: auto;
    color: black;
  }
  
.sidebar-links h4 {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
.sidebar:hover h4 {
    opacity: 1;
    color: black;
  }

.sidebar .user-account {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

.sidebar:hover .user-account {
    opacity: 1;
  }
  
.sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
  }
  
.sidebar-links {
    list-style: none;
    margin-top: 20px;
    padding: 10px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
    
  }
  
.sidebar-links li  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 700;
    white-space: normal;
    flex-wrap: wrap;
    
    padding: 0.5rem;
    gap: 1rem;
    text-decoration: none;
    transition: 0.2s ease;
    width: 100%;
    
  }

.sidebar-links li:hover {
    background-color: #99edde;
    border-radius: 8px;
    width: 100%;
    
  }
  
  
  
.user-account {
    margin-top: auto;
    padding: 12px 10px;
    margin-left: -10px;
    
  }
  
.user-profile {
    display: flex;
    align-items: center;
    color: #161a2d;
  }
  
.user-profile img {
    width: 42px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
.user-profile h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  
.user-profile span {
    font-size: 0.775rem;
    font-weight: 600;
  }
  
.user-detail {
    margin-left: 23px;
    white-space: nowrap;
  }
  
.sidebar:hover .user-account {
    background: #fff;
    border-radius: 4px;
  }

  /* grid css */

.grid-box {
    position: relative;
    flex: 1;
    width: calc(100% - 6vw);
    height: 100vh;
    margin-left: 6vw;
    transition: margin-left 0.3s ease, width 0.3s ease;
    padding: 5%;
    
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(10%, auto);
    gap: 5%;
    width: calc(90vw - 6vw);
    margin: auto;
}

.grid-item {
    background-color: #33cbaf;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5%;

}

.span-two-rows {
    grid-row: span 2;
}

.module-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #33cbaf;
  border-radius: 1.5%;
  overflow-y: auto;
  padding: 1rem;
}

.table-box {
  display: flex;
  justify-content: center;
  max-height: 100%;
  overflow-y: auto;
  color: black;
}

.table {
  background-color: #33cbaf;
  width: 100%;
  max-height: 100%;
  
}

.table-box table td{
  color: black;
}

.table-box thead th {
  color: black;
}





.container {
  width: 100%;
  height: 100%;
  background-color: #33cbaf;
  border-radius: 1.5%;
}

form.box {
  background-color: #33cbaf;
  border: solid thin black;
  color: black;
  margin-bottom: 2rem;
}

.button {
  border: solid black;
}

.label {
  color: black;
}

.input,
.select select,
.textarea {
  color: black;
  background-color: white; 
}


.dropdown.is-active .dropdown-menu .dropdown-content {
  background-color: white !important;
  color: black !important;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.dropdown-item {
  color: black !important;
}

.modal-card-body {
  background-color: #33cbaf;
}

.modal-card-head {
  background-color: #33cbaf;
  color: black;
}

.modal-card-foot {
  background-color: #33cbaf;
  justify-content: space-between;
}

.modal-card-title {
  color: black;
}

.title-box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

