#moduleSearch .input {
  width: 700px;
}

.dropdown-menu {
  max-height: 50vh;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 6px;
}

.dropdown-item {
  background-color: white !important;
}

.dropdown-item:hover {
  background-color: lightgray !important;
}

.searchBox {
  margin-bottom: 1.5rem;
}

.table-box thead th {
  color: black !important;
}

.boxx {
  border-radius: 6px;
}
