#moduleSearch .input {
  width: 700px;
}

.dropdown-menu {
  max-height: 50vh;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 6px;
}

.dropdown-item {
  background-color: white !important;
}

.dropdown-item:hover {
  background-color: lightgray !important;
}

.searchBox {
  margin-bottom: 1.5rem;
}

.table-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  
  
}

.table-box thead th {
  color: black !important;
}

.module-box {
  display: flex;
  flex-direction: column;
}

#moduleSearch::placeholder {
  color: black;
}



#gradesTableBody {
  padding: 0.5rem;
  
}