@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@font-face {
    font-family: 'Raleway';
    src: url(./assets/fonts/Gloria_Hallelujah\,Josefin_Sans\,Raleway/);
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    background-image: url("/imgs/background.jpg");
    
    

}

@media (max-width: 700px){

    .inner-body {
        flex-direction: column;
        height: 100vh;
    }
    .inner-body  .inner-body .rpanel{
        width: 100%;
        height: 50vh;
    }

    .login-form {
        height: 40vh;
    }

    .panel, .login-form .field {
        padding: 3%;
    }

    .panel, .control .input {
        height: 20%;
        padding: 2%;
        font-size: x-large;
    }

    .panel, .control .button {
        height: 20%;
        font-size: x-large;
        
    }
}

.inner-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-image: url("/background.jpg");
}

#login-box {
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 50vh;
    margin: 20%;
    border-radius: 10px;
    
    opacity: 0.7;
    

}


.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.welcome {
    padding-left: 10%;
    margin-bottom: 10px;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}

.login-form {
    
    padding: 10%;
    padding-top: 0%;
    
}

.input {
    background-color: white;
    color: black;
    height: 6vh;
}

.input::placeholder {
    color: gray;
}

.button {
    width: 100%;
    background-color:gray;
}

.button:hover {
    background-color: #33cbaf;
    border: solid black
}
.button is-success {
    background-color: #33cbaf;
    font-family: 'Raleway'; 
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.4s ease;
  }
  
  .toggle-label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
  }
  
  .toggle-input:checked + .toggle-label {
    background-color: #86d993;
  }
  
  .toggle-input:checked + .toggle-label:before {
    transform: translateX(26px);
  }

  .admin-theme {
    background-color: #33cbaf;
    
  }

  .student-theme {
    background-color: #FA8072;

    
  }

  .switch {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    padding-bottom: 5%;
  }

  .text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
  }

  .toggle-words {
    color: white;
    font-weight: 800;
    
  }







