<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ui/student/stylesStudentLanding.css">
    <link rel="stylesheet" href="/ui/student/stylesModules.css">

    <title>Student</title>
</head>
<body>

    <%-include("../partials/sidebar")%>

    <div class="fixed-grid has-3-cols">
        <div class="grid">
            <div class="cell">
                <div class="card">
                    <a class="card-content" href="/student/account">
                        <img src="/imgs/account.png">
                        <div class="card-text">
                            <h2 class="cell-title">Account</h2>
                            <p>View and Edit Account Details</p>
                        </div>

                    </a>

                </div>

            </div>
            <div class="cell">
                <div class="card">
                    <a class="card-content" href="/student/progression">
                        <img src="/imgs/progress.png">
                        <div class="card-text">
                            <h2 class="cell-title">Progression</h2>
                            <p>View Progression Statistics</p>
                        </div>

                    </a>

                </div>

            </div>
            <div class="cell">
                <div class="card">
                    <a class="card-content" href="/student/messaging">
                        <img src="/imgs/chat.png">
                        <div class="card-text">
                            <h2 class="cell-title">Messaging</h2>
                            <p>View and Send Messages</p>
                        </div>

                    </a>

                </div>

            </div>
        </div>
    </div>
    
</body>
</html>